// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$color1: rgba(177, 183, 209, 1);
$color2: rgba(145, 144, 152, 1);
$color3: rgba(255, 173, 184, 1);
$color4: rgba(211, 12, 123, 1);
$color5: rgba(255, 187, 95, 1);
