<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <h1>Naturally Happy Periods. <br>
    Unstoppable You.</h1>
    <p>Get the essential period support your body needs!</p>
    <a class="btn btn-flat" href="#">Subscribe now</a>
  </div>
</div>

<div class="cards">
  <div class="page-card p-5" style="background-color: rgba(177, 183, 209, 1); ">
    <h1>Do you experience...</h1>
    <div class="ml-5">
      <h2>cravings</h2>
      <h2>bloating</h2>
      <h2>mood swings</h2>
      <h2>cramps</h2>
      <h2>...</h2>
    </div>
    <p>...in the days leading up to your period?</p>
  </div>
  <div class="page-card" style="background-color: rgba(255, 173, 184, 1)">
    <div class="d-flex justify-content-center align-items-center w-50">
      <h2>Period problems are your body’s way of communicating underlying imbalances that need addressing.
      <br>
      The good news is that your body responds incredibly well to a natural approach.
      That's where we come in.</h2>
    </div>
  </div>
  <div class="page-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
    3333
  </div>
  <div class="page-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
    4444
  </div>
  <div class="page-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
    5555
  </div>
  <div class="page-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
    6666
  </div>
</div>




<div class="row" style="height: 400px">
  <div class="col-12 col-md-6 " style="background-color: #E3E5E4">

    <div class="p-5 align-self-center">
      <p>Do you experience...</p>
      <div class="d-flex justify-content-between">
        <h3>cravings</h3>
        <h3>bloating</h3>
        <h3>cramps</h3>
      </div>
      <p>...in the days leading up to your period?</p>
    </div>
  </div>
  <div class="col-12 col-md-6" style="background-color: #D1B1C8">
    <div class="d-flex align-self-center">
      <p>Period problems are your body’s way of communicating underlying imbalances that need addressing.

      The good news is that your body responds incredibly well to a natural approach.
      That's where we come in.</p>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <h2>How it works...</h2>
</div>
<div class="row" style="height: 400px">
  <div class="col-12 col-md-4">
    <div class="h2 text-align-center">
      Step 1
    </div>
  </div>
  <div class="col-12 col-md-4">
    Step 2
  </div>
  <div class="col-12 col-md-4">
    Step 3
  </div>
</div>
<div class="row justify-content-center">
  <h2>Let's make a plan...</h2>
</div>

